@keyframes triangle-anim {
    50% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateY(25px) rotate(-53deg);
    }
    
}

@keyframes rounded-rectangle-anim {
    65% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateY(-48px) rotate(-75deg);
    }
    
}

@keyframes rounded-rectangle2-anim {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(40px) rotate(-1deg);
  }
  
}

@keyframes circle-anim-x {
    50% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateX(44px);
    }
    
    }
    
    @keyframes circle-anim-y {
    50% {
      animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
              transform: translateY(17px);
    }
    
}

@keyframes square-anim {
    100% {
      transform: rotate(360deg);
    }
    
}

#triangle {
    -webkit-mask: url('/assets/images/triangle.svg') no-repeat bottom left;
    animation: triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    bottom: 15%;
    content: ' '; 
    height: 74px;
    left: 12%;
    width: 65px;
}

#circle {
    animation: circle-anim-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          left: calc(13% - 50px);  
          top: calc(18% - 26px);
}
  
#circle::after {
        -webkit-mask: url('/assets/images/oval.svg') no-repeat top left;
        animation: circle-anim-y 9s cubic-bezier(0.25, 0, 0.2, 1) infinite;
        background-color: rgb(26, 115, 232);
        content: ' '; 
        height: 100px;
        position: absolute;
        width: 100px;
}

#square {
    -webkit-mask: url('/assets/images/rect.svg') no-repeat bottom right;
          animation: square-anim 40s infinite linear;
          background-color: rgb(233, 66, 53);
          bottom: 8%;
          content: ' '; 
          height: 371px;
          right: -255px;
          width: 371px;
}

#rounded-rectangle {
    -webkit-mask: url('/assets/images/rect2.svg') no-repeat top left;
          animation: rounded-rectangle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          background-color: rgb(241, 243, 244);
          content: ' ';
          height: 132px;
          left: -42px;
          top: 45%;
          width: 132px;
}

#rounded-rectangle2 {
  -webkit-mask: url('/assets/images/rect3.svg') no-repeat top left;
        animation: rounded-rectangle2-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        background-color: rgb(241, 243, 244);
        content: ' ';
        height: 300px;
        left: -42px;
        top: 45%;
        width: 300px;
        transform: rotate(60deg);
}