@keyframes triangle-anim {
    50% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateY(25px) rotate(-53deg);
    }
    
}

@keyframes triangle2-anim {
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(-30px) rotate(93deg);
  }
  
}

@keyframes rounded-rectangle-anim {
    65% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateY(-48px) rotate(-75deg);
    }
    
}

@keyframes rounded-rectangle2-anim {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(40px) rotate(-1deg);
  }
  
}

@keyframes circle-anim-x {
    50% {
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transform: translateX(44px);
    }
    
    }
    
    @keyframes circle-anim-y {
    50% {
      animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
              transform: translateY(17px);
    }
    
}

@keyframes square-anim {
    35% {
      animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
              transform: translateY(20px) rotate(55deg);
    }
    
}

#triangle {
    -webkit-mask: url('../../assets/images/triangle.svg') no-repeat bottom left;
    animation: triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    content: ' '; 
    height: 74px;
    width: 65px;
    left: 12%;
    bottom: 15%;
    float: right;
    margin-right: 20vw;
    background-color: rgb(250, 207, 76);
}

#triangle2 {
    -webkit-mask: url('../../assets/images/triangle.svg') no-repeat bottom left;
      animation: triangle2-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      content: ' '; 
      height: 74px;
      width: 65px;
      left: 12%;
      bottom: 15%;
      background-color: rgb(49, 167, 83);
      margin-top: 50vh;
      margin-left: 20vw;
}

#circle {
    animation: circle-anim-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          left: calc(13% - 50px);  
          top: calc(18% - 26px);
          margin-left: 20vw;
          margin-top: -10vh;
}
  
#circle::after {
        -webkit-mask: url('../../assets/images/oval.svg') no-repeat top left;
        animation: circle-anim-y 9s cubic-bezier(0.25, 0, 0.2, 1) infinite;
        background-color: rgb(26, 115, 232);
        content: ' '; 
        height: 100px;
        width: 100px;
        position: absolute;
}

#square {
    -webkit-mask: url('../../assets/images/rect.svg') no-repeat bottom right;
          animation: square-anim 40s infinite linear;
          background-color: rgb(233, 66, 53);
          content: ' '; 
          height: 371px;
          width: 371px;
          bottom: 8%;
          right: -255px;
          float: right;
          margin-top: 15vh;
          margin-right: -2vw;
}

#rounded-rectangle {
    -webkit-mask: url('../../assets/images/rect2.svg') no-repeat top left;
          animation: rounded-rectangle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          background-color: rgb(241, 243, 244);
          content: ' ';
          height: 132px;
          width: 132px;
          left: -42px;
          top: 45%;
          margin-top: 10vh;
          margin-left: -4em;
}

#rounded-rectangle2 {
  -webkit-mask: url('../../assets/images/rect3.svg') no-repeat top left;
        animation: rounded-rectangle2-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        background-color: rgb(241, 243, 244);
        content: ' ';
        height: 300px;
        left: -42px;
        top: 45%;
        width: 300px;
        transform: rotate(60deg);
        float: right;
        margin-right: -4em;
}